:root {
    --bg-color: #1a1a1a;
    --text-color: #fff;
    --text-color-light: #d3d3d3;
    --text-color-lighter: #a6a6a6;
    --border-color: #333;
    --border-color-light: #666;
    --border-color-lighter: #999;
    --border-color-lightest: #ccc;
    --red-color: #f87171;
    --amber-color: #fcd34d;
    --green-color: #4ade80;
    --cyan-color: #22d3ee;
    --indigo-color: #818cf8;
}

::selection {
    background: var(--red-color);
    color: var(--text-color);
}

a {
    color: var(--red-color);
}